h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h3 {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
.desc {
    font-size: medium;
    font-weight: bolder;
}